<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}New Grunt Based Project{% endblock %}</title>
  <style rel="stylesheet" src="{{url}}css/base.css"></style>
  <style rel="stylesheet" src="{{url}}css/style.css"></style>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{url}}js/plugins.min.js"></script>
  <script src="{{url}}js/script.min.js"></script>
</body>
</html>
